.container
{
	width: 100%;

}
.wrapper
{
	width: 900px;
	margin: auto;
}
.dark
{
	background-color: wheat;
	color: rgb(83, 49, 49);
}

*{
	margin:0px;
	}
ul li
{
	
	width: 130px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
ul li a
{
	color: rgb(219, 149, 149);
	text-decoration: none;
	display: block;
}

ul li a:hover
{
	background-color: rgb(3, 109, 14);
	color:black;
}

ul li{
	cursor: pointer;
	margin-left: 65px;
}